# SERVER
PORT=4000

# DATABASE - MYSQL
HOST=localhost
USER=root
PASSWORD=admin
DB=DB_POSGRADO

# CORS
CORS_ALLOW_ALL=true
ALLOWED_ORIGIN_FIREBASE_ZOOM_MANAGER_PREVIEW=https://9000-firebase-zoom-manager-1751254924854.cluster-vpxjqdstfzgs6qeiaf7rdlsqrc.cloudworkstations.dev
ALLOWED_ORIGIN_FIREBASE_ZOOM_MANAGER_PRODUCTION=https://zoom-manager-uai.web.app

# NGROK
NGROK_AUTHTOKEN=
NGROK_DOMAIN=